*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    border-radius: 5px;
    border: none;
}

body {
    padding: 42px 100px;
    max-width: 1440px;
    margin: auto;
}

@media screen and (max-width: 1200px) {
    body {
        padding: 42px 80px;
    }
}

@media screen and (max-width: 1024px) {
    body {
        padding: 42px 50px;
    }
}

@media screen and (max-width: 480px) {
    body {
        padding: 30px 0;
    }
}

label {
    display: none;
}

ul {
    list-style: none;
}

.bold {
    font-weight: bold;
}

/* ---------- Header ---------- */
header {
    width: 100%;
    text-align: center;
    padding-bottom: 17px;
}

header img {
    height: 93px;
}

@media screen and (max-width: 480px) {
    header img {
        height: 60px;
    }
}

/* ---------- Main ----------*/
main>div {
    width: 100%;
}

#search {
    position: relative;
}

/* Main search */
#search__main {
    position: relative;
    margin-bottom: 25px;
}

#search__main span{
    position: absolute;
    right: 17px;
    height: 100%;
    line-height: 69px;
}

#search__main input  {
    width: 100%;
    height: 69px;
    background: #E7E7E7;
    padding: 24px;
    font-size: 18px;
}

@media screen and (max-width: 1024px) {
    #search__main span {
        right: 37px;
    }
}

#search__main input::placeholder  {
    color: #000000;
    opacity: 0.25;
}

@media screen and (max-width: 480px) {
    #search__main input {
        height: 54px;
        font-size: 16px;
    }
    #search__main span {
        right: 40px;
        line-height: 54px;
    }
}

/* Tags */
#search__tags, #search__advanced {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 10px;
    margin-bottom: 15px;
}

#search__tags p, #search__advanced div {
    position: relative;
    height: 37px;
    width: auto;
    padding: 10px 55px 10px 20px;
    color: #FFFFFF;
    font-size: 14px;
}

#search__tags span, #search__advanced span {
    position: absolute;
    height: 100%;
    line-height: 37px;
    top:0;
    right: 22px;
    font-size: 20px;
}

.ingredients {
    background: #3282F7;
}

.appliance {
    background: #68D9A4;
}

.utensils {
    background: #ED6454;
}

/* Advanced search */
@media screen and (max-width: 680px) {
    #search__advanced {
        flex-direction: column;
        gap: 10px;
    }
    #search__tags {
        position: absolute;
        right: 0;
        width: calc(100% - 200px);
    }
}

#search__advanced div {
    height: 69px;
    padding: 23px;
    width: 170px;
}

#search__advanced span {
    font-size: 30px;
    line-height: 69px;
    right: 10px;
}


#search__advanced input {
    background: none;
    color: white;
    font-size: 18px;
}

#search__advanced input:focus {
    width: 100px;
    outline: none;
}

@media screen and (max-width: 480px) {
    #search__main, #search__tags, #search__advanced {
        padding: 0 24px;
    }
    #search__advanced div {
        height: 54px;
        padding: 18px;
        width: 150px;
    }
    #search__advanced span {
        line-height: 54px;
    }
    #search__advanced input {
        font-size: 16px;
    }
}

/* Results */
#results {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

#results article {
    background:  #E7E7E7;
    min-width: 220px;
    height: 364px;
    overflow: hidden;
}

@media screen and (max-width: 1200px) {
    #results {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}

@media screen and (max-width: 768px) {
    #results {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 480px) {
    #results article{
        border-radius: 0;
    }
}

#results img{
    background: #C7BEBE;
    width: 100%;
    height: 50%;
    border-radius: 0;
}

#results div {
    display: flex;
    flex-wrap: wrap;
    height: 50%;
    padding: 20px;
}

#results h2 {
    font-size: 18px;
    min-width: max(155px, 50%);
    flex: 1;
    max-height: 22px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 20px;
}

#results p {
    font-size: 18px;
    max-height: 22px;
    min-width: 100px;
    text-align: end;
}

#results p span {
    position: relative;
    top: 6px;
    margin: -6px 6px;
}

#results ul, #results p:last-of-type {
    font-size: 12px;
    width: 50%;
    max-height: 103.8px;
}

#results p:last-of-type {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    line-height: 17.3px;
    padding-left: 6px;
}